<div id="loginBox" ng-controller="AddNewPostController as vm">
  <form class="form-horizontal" ng-submit="vm.addPost()">
    <fieldset>
      <legend>Add post</legend>
      <div class="form-group">

        <label for="photoURL" class="col-lg-2 control-label">Add photo URL</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="addPhoto" placeholder="www.photoURL.com" ng-model="vm.post.addPhoto">
        </div>
      </div>
      <div class="form-group">
        <label for="pageURL" class="col-lg-2 control-label">Add page link</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputPassword" placeholder="www.pageURL.com" ng-model="vm.post.addPage">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" ui-sref="home" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
