<div ng-controller="HomeController as vm">
	<h1>{{vm.title}}</h1>
</div>

<div class="row-12" id="pageWidth">
	<div class="col-md-1">
		<div class="well">
		</div>
	</div>
	<div class="col-md-1">
		<div class="well">
		</div>
	</div>
	<div class="col-md-1">
		<div class="well">
		</div>
	</div>
	<div class="col-md-1">
		<div class="well">
		</div>
	</div>
	<div class="col-md-1">
		<div class="well">
		</div>
	</div>
	<div class="col-md-1">
		<div class="well">
		</div>
	</div>
	<div class="col-md-1">
		<div class="well">
		</div>
	</div>
	<div class="col-md-1">
		<div class="well">
		</div>
	</div>
	<div class="col-md-1">
		<div class="well">
		</div>
	</div>
</div>

