<div ng-controller="TestCtrl">
	<div id="wrapper">
		<div id="columns">
			<!-- New pins -->
			<div class="pin" >
				<img src="https://upload.wikimedia.org/wikipedia/en/6/69/Audi_R8_3_Quarter.jpg"  ng-click="open('https://upload.wikimedia.org/wikipedia/en/6/69/Audi_R8_3_Quarter.jpg')"/>
				<a href="http://www.audi.com" target="_blank">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Sed feugiat consectetur pellentesque. Nam ac elit risus, 
						ac blandit dui. Duis rutrum porta tortor ut convallis.
						Duis rutrum porta tortor ut convallis.
					</p>
				</a>

				<!-- Modal -->
				<script type="text/ng-template" id="myModalContent.html">
					<div class="modal-header">
						<h3 class="modal-title">Audi</h3>
					</div>
					<div class="modal-body">
						<img src="{{url}}" alt="" class="img-responsive">

					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="ok()">OK</button>
						<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
					</div>
				</script>
			</div>
		</div>
	</div>
</div>