<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>No Interest</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body ng-controller="IndexController as vm">
	<nav class="navbar navbar-default">
		<div class="container-fluid">

			<!-- Nav buttons -->
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="home"><span class="glyphicon glyphicon-home"></span> Home</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a ui-sref="addNewPost"> Add post<span class="sr-only">(current)</span></a></li>
			</ul>

			<!-- Search -->

			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input ng-model="search.title" class="form-control" placeholder="Search" />
				</div>
			</form>

			<!-- Dropdown -->

			<div id="floatRight" class="navbar-right">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle capital" id="dropDownToggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu" id="dropDown">
								<li><a href="#" class="glyphicon glyphicon-cog"> Settings</a></li>
								<li><a ui-sref="about" class="glyphicon glyphicon-user"> About</a></li>
								<li class="divider"></li>
								<li><a ui-sref="#" class="glyphicon glyphicon-question-sign"> Help</a></li>
								<li class="divider"></li>
								<li ng-controller="LoginController as vm"><a  ng-click="vm.logOut()" ui-sref="login" class="glyphicon glyphicon-log-out logOutButton"> Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div id="userName" class="navbar-right">
				{{vm.status.firstName}}
			</div>

		</div>
	</nav>

	<ui-view></ui-view>
	<!-- Ext Libs -->

	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.js"></script>

	<!-- Routing -->
	<script src="angular/angular.min.js"></script>

	<script src="angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="angular-bootstrap/ui-bootstrap-tpls.js"></script>

	<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- Global Src -->
	<script src="/javascript/app.js"></script>
	<!-- Factories -->
	<script src="/javascript/services/HomeFactory.js"></script>
	<script src="/javascript/services/UserFactory.js"></script>
	<!-- Controllers -->
	<script src="/javascript/controllers/HomeController.js"></script>
	<script src="/javascript/controllers/IndexController.js"></script>
	<script src="/javascript/controllers/LoginController.js"></script>
	<script src="/javascript/controllers/AddNewPostController.js"></script>
	<script src="/javascript/controllers/TestCtrl.js"></script>
</body>
</html>
