#loginBox {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
}

#pageWidth {
	width: 133%;
}

#floatRight {
	float: right;
}

#dropDown {
	margin-left: -40px;
}

#dropDownToggle {
	margin-right: -25px;
}

#createAccount {
	text-align: center;
	margin-top: 10px;
}

#register {
	margin-top: 15%;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.control-label {
	width: 25%;
}

.col-lg-10 {
	width: 100%;
	text-align: center;
	margin-left: 0px;
}

.control-label {
	text-align: left;
}

.form-horizontal {
	text-align: left;
}